.clearfix:after
{
    display: table;
    clear: both;
    content: ' ';
}
*
{
    font-family: sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.frm
{
    position: relative;
    width: 500px;
    height: 350px;
    margin: 0 auto;
    border: 1px solid #BABAB8;
    background: #efefef;
}
@media screen and (max-width: 650px)
{
    .frm
    {
        width: 300px;
    }
}
#iddilan select
{
    float: right;
    width: 100px;
    border: 1px solid #bdbdb9;
    background: #efefef;
}
#idditit,
#iddirti
{
    margin-bottom: 10px;
    text-align: center;
    color: #6b5e48;
}
#idditit
{
    margin: 28px 0 52px;
}
#idditit span,
#iddirti span
{
    font-size: 24px;
    vertical-align: middle;
}
#iddilog,
#iddirlo
{
    position: relative;
    display: inline-block;
    width: 37px;
    height: 37px;
    margin-right: 8px;
    border: 8px solid #997852;
    border-radius: 50%;
}
.cldiloglin
{
    position: absolute;
    top: -8px;
    left: 8px;
    width: 5px;
    height: 37px;
    background: #efefef;
}
#iddicha,
#iddirch
{
    font-weight: 700;
    line-height: 21px;
    position: relative;
    z-index: 1;
    text-align: center;
}
label
{
    font-size: 12px;
}
input[type="radio"] + label,
input[type="checkbox"] + label
{
    color: #635C41;
    font-size: 12px;
}
.cldiinp
{
    line-height: 32px;
    position: relative;
    width: 290px;
    margin: 0 auto 5px;
}
#login .cldiinp
{
    margin-bottom: 10px;
}
.lbl,
.lbldob
{
    font-weight: 600;
    line-height: 30px;
    float: left;
    width: 30%;
    text-align: center;
    color: #fff;
    border: 1px solid #6e6150;
    border-radius: 5px 0 0 5px;
    background:      -o-linear-gradient(#6b5e48,#9b8e7c);
    background:    -moz-linear-gradient(#6b5e48,#9b8e7c);
    background: -webkit-linear-gradient(#6b5e48,#9b8e7c);
    background:         linear-gradient(#6b5e48,#9b8e7c);
}
.inp,
.inpdob,
.clinfak
{
    float: left;
    width: 70%;
    height: 32px;
    vertical-align: bottom;
    border: 1px solid #babab8;
    border-radius: 0 5px 5px 0;
    background: rgba(120, 105, 85, .20);
}
.inpdob
{
    float: left;
    width: 35%;
}
.lbldob
{
    float: left;
    line-height: 15px;
}
.clinfak
{
    width: 47%;
}
.inppic
{
    position: absolute;
    z-index: 1;
    left: 30%;
    float: left;
    width: 70%;
    height: 32px;
    cursor: pointer;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.sex {
    float: right;
    line-height: 14px;
}
.sex input[type="radio"] {
    margin-top: 0;
}
.inp:hover,
.inp:focus
{
    border: 1px solid #333;
    background: #fff;
    box-shadow: none;
}
.frm input[type='submit']{
    font-weight: 600;
    float: right;
    width: 95px;
    height: 32px;
    cursor: no-drop;
    color: #fff;
    border: 1px solid #6e6150;
    border-radius: 5px;
}
.clbufak
{
    font-weight: 600;
    float: right;
    width: 95px;
    height: 32px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #6e6150;
    border-radius: 5px;
    background:      -o-linear-gradient(#9b8e7c, #6b5e48);
    background:    -moz-linear-gradient(#9b8e7c, #6b5e48);
    background: -webkit-linear-gradient(#9b8e7c, #6b5e48);
    background:         linear-gradient(#9b8e7c, #6b5e48);
}
.clbufak
{
    width: 65px;
}

.iddifoo
{
    font-size: 12px;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    border-top: 1px solid #fff;
}
.iddifoo a
{
    color: #635c41;
}
#iddifor,
#iddireg
{
    display: inline-block;
    padding-left: 25px;
    vertical-align: middle;
}
#iddireg
{
    margin-left: 15px;
    padding-left: 35px;
}
.hide
{
    display: none;
}


/**** About Author ****/
.cldiaut
{
    width: 300px;
    margin: 30px auto 0;
    padding: 15px;
    text-align: justify;
    text-indent: 30px;
    border: 1px solid #BABAB8;
    background: #f6f6f6;
}

#userinfo{
    height: 600px;
}